# Data Processing setup and library experimentation

In [1]:
from data_processing.data_wrangler import *

In [4]:
output_dict = DataLoad("G01V01P02_annotato.eaf","Data EAF\materials\G01\V01",['dstr','ORT','phr'])

In [19]:
phr_wrangle.head()

  ANNOTATION_ID   phr  Begin Time  End Time  Nr
0         a2576  phr1         150     15650   1
1         a2577  phr2       15650     30616   2
2         a2578  phr3       30616     70581   3
3         a2579  phr4       70581     86380   4
4         a2580  phr5       86380    102905   5

In [10]:
data_wrangled = data_wrangle(output_dict)

In [8]:
#data_wrangled = data_wrangled[data_wrangled.isna()]

In [26]:
data_wrangled['Begin Time'] = data_wrangled['Begin Time'].astype('int64')
data_wrangled['End Time'] = data_wrangled['End Time'].astype('int64')
display(data_wrangled.head())

      0 ANNOTATION_ID  Begin Time  End Time  Nr       ORT  Duration
0   NaN            a1         150       510   1    Allora     360.0
1   NaN            a2         510       700   2        ci     190.0
2   NaN            a3         700      1127   3     siamo     427.0
3  <oo>           NaN        1127      1550   3     <PRL>     423.0
4   NaN            a4        1550      2482   4  spostati     932.0

In [28]:
data_all = pd.merge_asof(data_wrangled,phr_wrangle,on='Begin Time')

In [30]:
data_all[data_all.phr=='phr1']

,0,ANNOTATION_ID_x,Begin Time,End Time_x,Nr_x,ORT,Duration,ANNOTATION_ID_y,phr,End Time_y,Nr_y
0,NaN,a1,150,510,1,Allora,360.0,a2576,phr1,15650,1
1,NaN,a2,510,700,2,ci,190.0,a2576,phr1,15650,1
2,NaN,a3,700,1127,3,siamo,427.0,a2576,phr1,15650,1
3,<oo>,NaN,1127,1550,3,<PRL>,423.0,a2576,phr1,15650,1
4,NaN,a4,1550,2482,4,spostati,932.0,a2576,phr1,15650,1
5,NaN,a5,2482,2650,5,<sp>,168.0,a2576,phr1,15650,1
6,NaN,a6,2650,2930,6,dalla,280.0,a2576,phr1,15650,1
7,NaN,a7,2930,3070,7,<sp>,140.0,a2576,phr1,15650,1
8,NaN,a8,3070,3480,8,Chiesa,410.0,a2576,phr1,15650,1
9,NaN,a9,3480,3800,9,abbiamo,320.0,a2576,phr1,15650,1
10,NaN,a10,3800,4530,10,attraversato,730.0,a2576,phr1,15650,1
11,NaN,a11,4530,4630,11,il,100.0,a2576,phr1,15650,1
12,NaN,a12,4630,5090,12,chiostro,460.0,a2576,phr1,15650,1
13,NaN,a13,5090,5190,13,dei,100.0,a2576,phr1,15650,1
14,NaN,a14,5190,6180,14,procuratori,990.0,a2576,phr1,15650,1
15,NaN,a15,6180,6610,15,<inspiration>,430.0,a2576,phr1,15650,1
16,NaN,a16,6610,7140,16,che,530.0,a2576,phr1,15650,1
17,NaN,a17,7140,8180,17,erano,1040.0,a2576,phr1,15650,1
18,NaN,a18,8180,8362,18,<ehm>,182.0,a2576,phr1,15650,1
19,NaN,a19,8362,8710,19,insomma,348.0,a2576,phr1,15650,1
20,NaN,a20,8710,8935,20,delle,225.0,a2576,phr1,15650,1
21,NaN,a21,8935,9370,21,figure,435.0,a2576,phr1,15650,1
22,NaN,a22,9370,9970,22,abbastanza,600.0,a2576,phr1,15650,1
23,NaN,a23,9970,10960,23,importanti,990.0,a2576,phr1,15650,1
24,NaN,a24,10960,11280,24,per,320.0,a2576,phr1,15650,1
25,NaN,a25,11280,11420,25,<sp>,140.0,a2576,phr1,15650,1
26,NaN,a26,11420,12022,26,<ehm>,602.0,a2576,phr1,15650,1
27,NaN,a27,12022,12130,27,e,108.0,a2576,phr1,15650,1
28,NaN,a28,12130,13020,28,funzionali,890.0,a2576,phr1,15650,1
29,NaN,a29,13020,13360,29,alla,340.0,a2576,phr1,15650,1
30,NaN,a30,13360,14070,30,vita,710.0,a2576,phr1,15650,1
31,NaN,a31,14070,14431,31,alla v+/,361.0,a2576,phr1,15650,1
32,NaN,a32,14431,14652,32,alla,221.0,a2576,phr1,15650,1
33,NaN,a33,14652,14840,33,vita,188.0,a2576,phr1,15650,1
34,NaN,a34,14840,15000,34,della,160.0,a2576,phr1,15650,1
35,NaN,a35,15000,15650,35,Certosa,650.0,a2576,phr1,15650,1